@import url('https://fonts.googleapis.com/css?family=Orbitron');

.container {
  height: 500px;
  margin: 30px auto;
  width: 400px;
}

.container0{
  margin: 30px auto;
  
}

.center { margin: 0px auto;
  height: 150px;
  width: 150px;
  text-align: center;
  background-color: white;
  font-family: 'Orbitron', sans-serif;
  font-size: larger;
  border: 1px solid black;
}

header{
  font-family: 'Orbitron', sans-serif;
  color: black;
     -webkit-text-fill-color: white; /* Will override color (regardless of order) */
     -webkit-text-stroke-width: 1px;
     -webkit-text-stroke-color: black;
}

body{
  /*background : url("../img/header.jpg");*/


}

.background{
  background : url("../img/backgroundImage.jpg") no-repeat;
  background-size: 100%;
  max-width: 1800px;
  width: 100%;

}

.cell {
  background-size: contain;
  border: 1px solid white;
  box-sizing: border-box;
  float: left;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.cell:hover{
  transform: scale(1.1,1.1);
}

.board {
	background-color: #ddd;
}

#centralTitle{
  width: 350px;
  margin: 30px auto;
  text-align: center;
}

  /*background : url("../img/water_tap.png") no-repeat;*/

.initialTap{
  background-color: #77d8ff;
}

img{
  width: 100%;
	height:100%;
}
/*
.container0 {
  height: 100px;
  margin: 30px auto;
  /*background-color: red;
}

.counter{
  background-size: contain;
  background-color: white;
  border: 1px solid black;
  box-sizing: border-box;
  height: 150px;
  width: 150px;
}
*/
.newPipe{


  margin: 0px auto;
    height: 150px;
    width: 150px;
    text-align: center;
    background-color: white;
    border: 1px solid black;




}

.container2 {
  height: 500px;
  margin: 30px auto;
  width: 300px;


  /*background-color: red;*/

}
